.enemy-container {
  position: absolute;
  width: 30px;
  height: 30px;

  border: 3px solid cyan;
  background: #eee;

  overflow: hidden;
  opacity: 1;
}
.spinning {
  animation: emote-spin infinite 0.5s linear;
}
@keyframes emote-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}